<!DOCTYPE HTML>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.4-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<div id="titleBar" class="row">
            <div class="col-md-1 tbar"><h4 id="ptitle">TwitterFeels</h4></div>
            <div class="col-md-9 tbar" id ="searchcol"><input type="text" name="searchQuery" id="sbar"/><button type="button" class="btn-primary">Feel it Out</button></div>
            <div class="col-md-1 tbar"><h5 id="about">About</h5></div>
        <div>
	</body>
</html>