#titleBar{
    background-color: #148BCF;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    background-color: white;
}

a{
    color: #00B7FF;
}

.tbar{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#ptitle{
    text-align: left;
}

#sbar{
    display: inline-block;
    text-align: left;
    width: 25em;
    color: black;
}

#about{
    text-align: right;
    padding-left: 7em;
}

#searchcol{
    text-align: left;
    padding-left: 4em;
}