#titleBar{
    background-color: #3c1a2b;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    background-color: #b18b7e;
}

a{
    color: #00B7FF;
}

.tbar{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#ptitle{
    text-align: left;
}

#about{
    float: right !important;
}

#searchcol{
    text-align: left;
    padding-left: 4em;
    padding-right: 25em;
}

#myModalLabel{
    color: black;
}

.modal-body{
    color: black;
}

.text{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.modal-content{
    background-color: #;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}